<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>我的消息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" href="../../res/layui/css/layui.css">
    <link rel="stylesheet" href="../../res/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/index.html">
            <img src="../../res/images/logo.png" alt="layui">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item layui-this">
                <a href="/index.html"><i class="iconfont icon-jiaoliu"></i>交流</a>
            </li>
            <li class="layui-nav-item">
                <a href="/case/case.html"><i class="iconfont icon-iconmingxinganli"></i>申请内测资格</a>
            </li>
            <!--<li class="layui-nav-item">
              <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
            </li>-->
        </ul>

        <ul class="layui-nav fly-nav-user">
            <!-- 登入后的状态 -->
            <li class="layui-nav-item">
                <a class="fly-nav-avatar" href="javascript:;">
                    <cite class="layui-hide-xs" th:text="${session.user.username}">贤心</cite>
                    <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>
                    <i class="layui-badge fly-badge-vip layui-hide-xs" th:text="${session.user.lev}">VIP3</i>
                    <img src="https://img2.woyaogexing.com/2019/11/09/2b98688921da452c9bea0c5e1112b792!400x400.jpeg"
                         th:attr="src=${session.user.photo}">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                    <dd><a href="/user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a>
                    </dd>
                    <dd><a href="/user/home.html"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
                    </dd>
                    <hr style="margin: 5px 0;">
                    <dd><a href="" style="text-align: center;">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item">
            <a href="/user/home.html">
                <i class="layui-icon">&#xe609;</i>
                我的主页
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/user/index.html">
                <i class="layui-icon">&#xe612;</i>
                用户中心
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/user/set.html">
                <i class="layui-icon">&#xe620;</i>
                基本设置
            </a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="/user/message.html">
                <i class="layui-icon">&#xe611;</i>
                我的消息
            </a>
        </li>
    </ul>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
            <button class="layui-btn layui-btn-danger" id="LAY_delallmsg">清空全部消息</button>
            <div id="LAY_minemsg" style="margin-top: 10px;">
                <div class="fly-none" th:if="${mList.isEmpty()}">您暂时没有最新消息</div>

                <ul class="mine-msg" th:if="!${mList.isEmpty()}">
                    <li data-id="123" th:each="m : ${mList}">
                        <blockquote class="layui-elem-quote">
                            <a th:href="@{'/user/home?userId='+${m.messageAnswerUserId}}" target="_blank"><cite th:text="${m.messageAnswerUsername}">Absolutely</cite></a>回答了您的求解<a
                                target="_blank" th:href="@{'/answer/click?pqId='+${m.messagePqId}}"><cite th:utext="${m.messagePqTitle}">layui后台框架</cite></a>
                        </blockquote>
                        <p><span th:text="${m.messageAnswerDate}">1小时前</span><a th:href="@{'/message/delete/'+${m.messageId}}"
                                               class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>
                    </li>
                </ul>

                <a th:if="${prePage1} ne 0" th:href="@{'/user/getMessage/'+${prePage1}}"><button type="button" class="layui-btn layui-btn-normal layui-btn-sm"><i class="layui-icon">&lt;</i></button></a>
                <a th:href="@{'/user/getMessage/'+${nextPage1}}"><button type="button" class="layui-btn layui-btn-normal layui-btn-sm"><i class="layui-icon">&gt;</i></button></a>

                <ul class="mine-msg">
                    <li data-id="123">
                        <blockquote class="layui-elem-quote">
                            系统消息：欢迎来到 Fly社区
                        </blockquote>
                        <p><span>1小时前</span><a href="javascript:;"
                                               class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>
                    </li>

                    <li data-id="123">
                        <blockquote class="layui-elem-quote">
                            系统消息：欢迎来到 Fly社区
                        </blockquote>
                        <p><span>1小时前</span><a href="javascript:;"
                                               class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>
                    </li>
                </ul>

                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm"><i class="layui-icon">&lt;</i></button>
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm"><i class="layui-icon">&gt;</i></button>
            </div>
        </div>
    </div>

</div>


<div class="fly-footer">
    <p><a href="http://fly.layui.com/" target="_blank">Fly社区</a> 2017 &copy; <a href="http://www.layui.com/"
                                                                                target="_blank">layui.com 出品</a></p>
    <p>
        <a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a>
        <a href="http://www.layui.com/template/fly/" target="_blank">获取Fly社区模版</a>
        <a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
    </p>
</div>

<script src="../../res/layui/layui.js"></script>
<script>
    layui.cache.page = 'user';
    layui.cache.user = {
        username: '游客'
        , uid: -1
        , avatar: '../../res/images/avatar/00.jpg'
        , experience: 83
        , sex: '男'
    };
    layui.config({
        version: "3.0.0"
        , base: '../../res/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');
</script>

</body>
</html>